.Control {
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 90%;
  left: 50%;
  padding: 0 35px;
  position: absolute;
  top: 50%;
  transform: translate(-250%, -170%);
  width: 90%;
  color: white;
}

.Control-boxCount {
  border-radius: 5px;
  font-family: 'VT323', monospace;
  font-size: 1.75em;
  padding-bottom: 5px;
  color: whitesmoke;
}

.Control-boxCount h3 {
  margin: 0;
}

.Control-buttonStart,
.Control-buttonOnOff,
.Control-buttonLast {
  background-color: red;
  border-radius: 50%;
  border-style: none;
  height: 25px;
  margin: 0 5px;
  width: 25px;
}

.Control-buttonStart {
  background-color: hsl(51, 88%, 45%);
}

.Control-buttonStart:hover,
.Control-buttonOnOff:hover,
.Control-buttonLast:hover {
  cursor: pointer;
}

.Control-button:active {
  transform: translateY(3px);
}

.Control-buttonStart:hover,
.Control-buttonStart:focus {
  background-color: yellow;
}

.Control-buttonStart:active {
  box-shadow: 0 2px 30px hsl(51, 88%, 35%);
}

.Control-buttonOnOff {
  background-color: hsl(352, 88%, 45%);
}

.Control-buttonOnOff:hover,
.Control-buttonOnOff:focus {
  background-color: hsl(352, 88%, 65%);
}

.Control-buttonOnOff:active {
  box-shadow: 0 2px 30px hsl(352, 88%, 35%);
}

.Control-buttonLast {
  background-color: hsl(190, 88%, 45%);
  box-shadow: 0 4px hsl(190, 88%, 35%);
}

.Control-buttonLast:hover,
.Control-buttonLast:focus {
  background-color: hsl(190, 88%, 65%);
}

.Control-buttonLast:active {
  box-shadow: 0 2px 30px hsl(190, 88%, 35%);
}

.Control-textCount {
  padding-bottom: 10px;
}

.Control-textCount,
.Control-textStart,
.Control-textOnOff,
.Control-textLast {
  font-family: 'Squada One', cursive;
  font-size: 1em;
  margin-top: 0;
}

.Control-appName {
  font-family: 'Squada One', cursive;
  font-size: 2.75em;
  grid-column: col / span 3;
  grid-row: row 1;
  margin-bottom: 0;
  margin-top: 0;
}

.Control-boxCount {
  grid-column: col / span 3;
  grid-row: row 2;
  height: 30px;
}

.Control-textCount {
  grid-column: col / span 3;
  grid-row: row 3;
  margin-bottom: 0;
}

.Control-buttonStart {
  grid-column: col 1;
  grid-row: row 4;
}

.Control-textStart {
  grid-column: col;
  grid-row: row 5;
}

.Control-buttonOnOff {
  grid-column: col 2;
  grid-row: row 4;
}

.Control-textOnOff {
  grid-column: col 2;
  grid-row: row 5;
}

.Control-buttonLast {
  grid-column: col 3;
  grid-row: row 4;
}

.Control-textLast {
  grid-column: col 3;
  grid-row: row 5;
}
